.login {
    padding: 100px 200px;
  display: flex;

  .form {
    border: 1px solid #ebeef5;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    background-color: #fff;
    overflow: hidden;
    border-radius: 4px;
    padding: 30px;
    width: 600px;

    .logo {
        font-family:Neuropo ;
        font-size: 26px;
        text-align: center;
    display: block;
    padding: 20px 0px;
    }

    h5 {
        font-size: 20px;
        padding-bottom: 20px;
        text-align: center;
    }
  }
}
