.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 100;
  top: 0px;
  backdrop-filter: blur(6px);
//  background-color: rgba(255, 255, 255, 0.8);
  @media screen and (max-width: 779px) {
    padding: 20px 10px;
  }


  .navigation {
    .list {
      display: flex;
      align-items: center;
      list-style-type: none;
      @media screen and (max-width: 779px) {
        display: none;
      }

      .item {
        .icon_search {
          margin: 10px 15px;
          display: flex;
          cursor: pointer;
        }

        a {
          transition: 0.3s ease-in-out;
          font-size: 1em;
          // padding: 6px 15px;
          border-radius: 9999px;
          display: flex;
          align-items: center;
          justify-content: center;
          &:hover {
            color: var(--primary);
            background-color: rgb(241 245 249/1);
          }
        }
      }

  
    }

    .menu_mobile {
      display: none;
      cursor: pointer;

      @media screen and (max-width: 779px) {
        display: block;
      }

      span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: #cdcdcd;
        border-radius: 3px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
          background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease,
          -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
      }

      .openMiddle {
        opacity: 0;
      }

      .openTop {
        transform: rotate(45deg) translate(40%, 50%);
      }
      .openBottom {
        transform: rotate(-45deg) translate(10px, 0);
      }
    }
  }
}
