
:root {
  --yellow:#ff8917;
  --primary:rgb(118, 0, 220);
}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: "Poppins"; */
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 18px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* ul,li,p,h1,h2,h3,h4,h5,h6, a ,figure {
  margin: 0 !important;
} */
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@font-face {
  font-family: Neuropo;
  src: url(../fonts/Neuropolitical-Regular.ttf);
}


.container {
  /* max-width: 1031px; */
  max-width: 1390px; 
  margin: 0 auto;
}

img {
  position: relative !important;
}
.h-7 {
  height: 1.75rem;
  width: auto;
}
.fill-\[\#24221B\] {
  fill: #24221b;
}
